<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PresentationLayer.Properties.Settings.QUANLYXOSOConnectionString"
            connectionString="Data Source=DESKTOP-QEBCIPP;Initial Catalog=QUANLYXOSO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>